<div class="example-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" >
      <mat-icon >menu</mat-icon>
    </button>
    <h1 class="example-app-name">Visor</h1>

    <span class="example-spacer"></span>

    <!--button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button-->

    <mat-menu #menu="matMenu">
        <button mat-menu-item >
            <mat-icon>account_box</mat-icon>
            <span>Mi Perfil</span>
        </button>
        <button mat-menu-item (click)="showFiller = false" >
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-menu>
  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" style="width: 200px">
      <img src="assets/world.png" width="64">

      <mat-selection-list (selectionChange)="seleccionarCapa($event)" #layers>
      <mat-list-option *ngFor="let capa of capas" [value]="capa.id">
        {{capa.nombre}}
      </mat-list-option>
    </mat-selection-list>

<p>
  Options selected: {{layers.selectedOptions.selected.length}}
</p>
      
    </mat-drawer>

    <div class="example-sidenav-content">
      <div id="map" >

      </div>
    </div>

  </mat-drawer-container>
</div>

